// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    strong {
        font-size: 2em;
        display: block;
    }
    .votes {
        width: 60px;
        height: 60px;
    }
    .status {
        &.unanswered {
            background: none;
        }
        &.answered {
            color: $color-green;
            border: 1px solid $color-green;
        }
        &.accepted-answer {
            color: $color-white;
            background: $color-green;
        }
    }
    .views {
        margin-top: 10px;
    }
}

form.form-delete {
    display: inline;
}

.vote-controls {
    margin-left: 5px;
    margin-right: 23px;
    padding: 0;
    margin-top: -10px;
    text-align: center;
    color: grey;
    span,
    a {
        display: block;
    }
    span {
        &.votes-count {
            font-size: 25px;
        }
        &.favorites-count {
            font-size: 20px;
        }
    }
    a {
        cursor: pointer;
        color: grey;
        transition: all 0.25s ease-in-out;
        &.off:hover {
            color: red;
        }
        &.top:hover {
            color: green;
        }
        &.favorite {
            transition: all .25s ease-in-out;
            .favorited:hover {
                color: rgba(255, 255, 0, 0.89);
            }
        }
        &.vote-accept {
            color: green;
        }
    }
}