// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';
.navbar-laravel {
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.counters {
    margin-right: 30px;
    font-size: 10px;
    text-align: center;
    strong {
        font-size: 2em;
        display: block;
    }
    .votes {
        width: 60px;
        height: 60px;
    }
    .status {
        &.unanswered {
            background: none;
        }
        &.answered {
            color: $color-green;
            border: 1px solid $color-green;
        }
        &.accepted-answer {
            color: $color-white;
            background: $color-green;
        }
    }
    .views {
        margin-top: 10px;
    }
}

form.form-delete {
    display: inline;
}